* {
  margin: 0;
  padding: 0;
}

#navbar {
  letter-spacing: 0.1vw;
  color: #ffffff;
  background-color: #000000;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 3vw;
}

.sticky {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 1s;
  z-index: 999;
}

#brasao {
  width: 12vw;
}

#navbar_itens {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}

#nav_contador {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

#nav_contador li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1vw;
}

#nav_contador h1 {
  font-size: 2vw;
  line-height: 2.5vw;
}

.contador_titulo {
  font-size: 1.5vw;
  letter-spacing: 0.2vw;
  margin-bottom: -1vw;
}

.contador_valor {
  font-size: 8vw;
  padding-left: 0.4vw;
  letter-spacing: 0.5vw;
  color: #000000;
  text-shadow: 0.14vw 0 #e3e3e3, -0.14vw 0 #e3e3e3, 0 0.14vw #e3e3e3,
    0 -0.14vw #e3e3e3, 0.07vw 0.07vw #e3e3e3, -0.07vw -0.07vw #e3e3e3,
    0.07vw -0.07vw #e3e3e3, -0.07vw 0.07vw #e3e3e3;
}

.linha-vertical {
  color: #444444;
  height: 8vw;
  border-left: 2px solid;
  margin-top: -1vw;
}

#nav_menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#brasao_nav {
  display: none;
  width: 6vw;
  margin: 0.5vw 2vw;
  align-self: flex-start;
}

#itens_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style-type: none;
}

.item_menu {
  padding: 0.3vw 0.8vw;
  font-size: 1.7vw;
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
  margin: 0 0.5vw;
}

.item_menu:hover {
  border-radius: 5rem;
  background-color: #ffffff;
  color: #000000;
  text-decoration: underline;
  transition: 0.5s;
}

#topo {
  width: 100%;
  background-image: url("img/background.png");
  background-size: 100% 100%;
  text-align: center;
  filter: contrast(1.1);
}

#topo img {
  width: 35%;
  padding: 5vw 0vw;
}

#sobre {
  background-image: url("img/sobre.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  padding: 8vw 7vw;
}

.titulo_subtitulo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.titulo {
  font-family: "Bebas Neue", sans-serif;
  color: #000000;
  font-size: 10vw;
  letter-spacing: 0.4vw;
  text-shadow: 0.073vw 0 #8e8e8e, -0.073vw 0 #8e8e8e, 0 0.073vw #8e8e8e,
    0 -0.073vw #8e8e8e, 0.073vw 0.073vw #8e8e8e, -0.073vw -0.073vw #8e8e8e,
    0.073vw -0.073vw #8e8e8e, -0.073vw 0.073vw #8e8e8e;
}

.subtitulo {
  font-family: "Oswald", sans-serif;
  font-size: 1.2vw;
  margin-top: -3vw;
  margin-left: -7vw;
  color: #ffffff;
  display: flex;
}

.subtitulo_deco {
  font-family: "Acme", sans-serif;
  font-size: 1.4vw;
  color: #ffffff;
  margin: 0.8vw 1.75vw;
  font-weight: 700;
  letter-spacing: 0.25vw;
}

.texto {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.25vw;
  color: #8e8e8e;
  width: 65%;
  letter-spacing: 0px;
  line-height: 1.75vw;
  text-shadow: 0.146vw 0 #000000, -0.146vw 0 #000000, 0 0.146vw #000000,
    0 -0.146vw #000000, 0.146vw 0.146vw #000000, -0.146vw -0.146vw #000000,
    0.146vw -0.146vw #000000, -0.146vw 0.146vw #000000;
}

.texto p {
  margin: 1.5vw 0vw;
}

#galeria {
  background-color: #131315;
  color: #e3e3e3;
  font-family: "Oswald", sans-serif;
}

#imagens_galeria {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.img_galeria {
  width: 100%;
}

#botao_galeria {
  font-size: 1.5vw;
  padding: 1vw 5.5vw;
  text-align: end;
}

#botao_galeria a {
  color: #e3e3e3;
  text-decoration: none;
}

#historia {
  background-image: url("img/bg_preto.jpg");
  background-size: 100% 100%;
  background-color: #000000;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  padding: 5rem 4rem;
}

#historia img {
  width: 400px;
}

#divisao {
  background-image: url("img/background.png");
  background-size: 100% 100%;
  background-color: #000000;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  padding: 1rem 1rem;
}

#divisao .titulo_subtitulo {
  align-self: flex-start;
  padding: 2rem 10rem;
}

#mapa_divisoes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#mapa {
  width: 50%;
}

#matriz_divisao {
  list-style-type: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.bandeira {
  width: 60px;
  align-self: flex-start;
  padding: 1rem;
}

#matriz_divisao li {
  color: #8e8e8e;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.divisao_cidades {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5rem;
}

#matriz_divisao h1,
#matriz_divisao h2 {
  font-size: 2.2rem;
}

#matriz_divisao h3 {
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
}

@media only screen and (max-width: 768px) {
  #navbar {
    letter-spacing: 0.2vw;
  }

  #brasao {
    width: 20vw;
  }

  #nav_contador li {
    margin: 1.5vw;
  }

  #nav_contador h1 {
    font-size: 3.5vw;
    line-height: 4vw;
  }

  .contador_titulo {
    font-size: 3vw;
  }

  .contador_valor {
    font-size: 12vw;
    padding-left: 0.6vw;
    letter-spacing: 0.6vw;
  }

  .linha-vertical {
    height: 15vw;
    margin-top: -3vw;
  }

  .item_menu {
    font-size: 3vw;
  }

  #brasao_nav {
    width: 12vw;
    margin: 1vw 2vw;
  }
}

@media only screen and (max-width: 480px) {
  #navbar {
    flex-direction: column;
    padding: 2vw 3vw;
  }

  #brasao {
    width: 50vw;
    margin: 2vw;
  }

  #nav_contador,
  #nav_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #nav_contador h1 {
    font-size: 5vw;
    line-height: 5vw;
  }

  .contador_titulo {
    font-size: 4vw;
    margin-bottom: -2vw;
  }

  .contador_valor {
    font-size: 17vw;
    padding-left: 1vw;
    letter-spacing: 1vw;
  }

  .linha-vertical {
    height: 20vw;
    margin-top: -4vw;
  }

  .item_menu {
    font-size: 4vw;
    padding: 0.3vw 1vw;
    margin: 0 1vw;
  }
}
