* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style-type: none;
}

#navbar {
  letter-spacing: 0.2vw;
  color: #ffffff;
  background-color: #000000;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.3vw 2.5vw;
}

#hamburger {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 10000;
  border: 0;
  color: #999999;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
}

#nav_fixo {
  font-size: 1.5vw;
  font-family: "Oswald", sans-serif;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.opcao_navfixo {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin: 0vw 1vw;
  padding: 0;
}

.opcao_navfixo li {
  background-color: #000000;
  width: 7vw;
  border-radius: 1vw;
  transition: 0.5s;
}

.opcao_navfixo li:hover {
  background-color: #ffffff;
  color: #000000;
  text-decoration: underline;
  transition: 0.5s;
}

#brasao_nav img {
  width: 6vw;
  padding: 0.4vw;
  margin-bottom: -3vw;
  background-color: #000000;
  border-radius: 5vw;
  cursor: pointer;
}

#botaoTopo {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  padding: 0.6rem 0.8rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
}

#botaoTopo:hover {
  background-color: #555555;
}

#brasao {
  width: 13vw;
}

#navbar_itens {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}

#cont_divisoes {
  text-decoration: none;
  color: #ffffff;
  overflow: hidden;
}

#nav_contador {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  font-family: "Oswald", sans-serif;
}

#nav_contador div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#nav_contador li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#nav_contador h2 {
  margin: 0.1vw 0vw;
}

#nav_menu {
  margin-top: 3vw;
}

#hoje {
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  padding: 0vw 1vw;
}

#hoje p {
  margin: 0vw 0.3vw;
}

.contador_titulo {
  font-size: 1.5vw;
  font-family: "Oswald", sans-serif;
  line-height: 1.8vw;
}

.contador_valor {
  display: flex;
  font-family: "Bebas Neue", sans-serif;
  line-height: 6.5vw;
  padding: 0vw 1.5vw;
  padding-top: 1vw;
  font-size: 9vw;
  color: #000000;
  text-shadow: 0.1464vw 0 #cdcccc, -0.1464vw 0 #cdcccc, 0 0.1464vw #cdcccc,
    0 -0.1464vw #cdcccc, 0.0732vw 0.0732vw #cdcccc, -0.0732vw -0.0732vw #cdcccc,
    0.0732vw -0.0732vw #cdcccc, -0.0732vw 0.0732vw #cdcccc;
  letter-spacing: 0;
}

.ls {
  width: 0.8vw;
}

.linha-vertical {
  color: #444444;
  height: 9vw;
  border-left: 2px solid;
}

#itens_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#itens_menu div {
  display: flex;
}

.item_menu {
  padding: 0.25vw 0.7vw;
  font-size: 1.7vw;
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
  margin: 0vw 0.4vw;
}

.item_menu:hover {
  border-radius: 5vw;
  background-color: #ffffff;
  color: #000000;
  text-decoration: underline;
  transition: 0.5s;
}

#topo {
  width: 100%;
  background-color: #000000;
  background-image: url("img/background/bg_topo.webp");
  background-size: 100% 100%;
  text-align: center;
  filter: contrast(1.1);
}

#topo img {
  width: 35%;
  padding: 5vw 0vw;
}

#sobre {
  background-image: url("img/background/bg_sobre.webp");
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  padding: 8vw 7vw;
}

#sobre a {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-decoration: none;
  align-self: flex-end;
  font-size: 1.5vw;
  width: 5vw;
  text-align: center;
}

.titulo_subtitulo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.titulo {
  font-family: "Bebas Neue", sans-serif;
  color: #000000;
  font-size: 10vw;
  letter-spacing: 0.4vw;
  text-shadow: 1px 0 #8e8e8e, -1px 0 #8e8e8e, 0 1px #8e8e8e, 0 -1px #8e8e8e,
    1px 1px #8e8e8e, -1px -1px #8e8e8e, 1px -1px #8e8e8e, -1px 1px #8e8e8e;
}

.subtitulo {
  font-family: "Oswald", sans-serif;
  font-size: 1.2vw;
  margin-top: -3vw;
  margin-left: -10vw;
  color: #ffffff;
  display: flex;
}

.subtitulo_deco {
  font-family: "Acme", sans-serif;
  font-size: 1.4vw;
  color: #ffffff;
  margin: 0.8vw 1.75vw;
  font-weight: 700;
  letter-spacing: 0.25vw;
}

.texto {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.25vw;
  color: #8e8e8e;
  width: 65%;
  letter-spacing: 0px;
  line-height: 1.75vw;
  text-shadow: 0.146vw 0 #000000, -0.146vw 0 #000000, 0 0.146vw #000000,
    0 -0.146vw #000000, 0.146vw 0.146vw #000000, -0.146vw -0.146vw #000000,
    0.146vw -0.146vw #000000, -0.146vw 0.146vw #000000;
}

.texto p {
  margin: 1.5vw 0vw;
}

#imgs_galeria {
  width: 100%;
  filter: grayscale(100%);
  background-color: #131315;
  display: flex;
  flex-direction: row;
}

#imgs_galeria li {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

#footer_galeria {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #131315;
}

#botoes_galeria {
  width: 50%;
  text-align: right;
}

#insta_galeria {
  width: 50%;
  text-align: right;
}

#insta_galeria a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5vw;
  margin: 0vw 1vw;
  font-family: Arial, Helvetica, sans-serif;
}

#botoes_galeria button {
  color: #707070;
  font-size: 3vw;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 0vw 0.5vw;
  transition: 0.5s;
}

#botoes_galeria button:hover {
  color: #ffffff;
  transition: 0.5s;
}

#historia {
  background-image: url("img/background/bg_preto.webp");
  background-size: auto;
  background-color: #000000;
  letter-spacing: 0.1vw;
  display: flex;
  flex-direction: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  padding: 6vw 6vw;
}

#historia img {
  margin-top: 5vw;
  width: 30vw;
}

#historia .texto {
  width: 90%;
}

.btn_historia {
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #444444;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 2vw;
}

.btn_historia div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.btn_historia div p {
  font-family: "Acme", sans-serif;
  font-size: 1.4vw;
  margin-right: 2vw;
  font-weight: 700;
}

.btn_historia div h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.8vw;
  letter-spacing: 0.1vw;
}

#divisoes {
  font-family: "Oswald", sans-serif;
  background-color: #000000;
  background-image: url("img/background/bg_preto.webp");
  background-size: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding: 6vw 0vw;
  color: #ffffff;
  letter-spacing: 0.1vw;
}

#mapa {
  width: 100%;
  margin: 2vw 0vw;
  background-image: url("img/mapa/fundo_mapa.webp");
  background-size: cover;
}

.mapa_bandeiras {
  width: 40vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.mat_div_sup {
  padding: 0.5vw 0vw;
}

.mat_div_sup i {
  font-size: 2vw;
  margin-right: 0.5vw;
}

.mat_div_sup h1 {
  color: #ffffff;
  font-size: 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.mat_div_sup h2 {
  color: #8e8e8e;
  font-size: 2.2vw;
}

.mat_div_sup h3 {
  color: #8e8e8e;
  font-size: 1.2vw;
}

.bandeira {
  width: 5.5vw;
  height: 4vw;
  margin: 0.8vw 1vw;
  border: 1px solid #8e8e8e;
}

.bandeira_cidades {
  display: flex;
}

.bandeira_cidades li {
  padding: 0.5vw 0vw;
  cursor: pointer;
}

#comando {
  background-image: url("img/background/bg_comando.webp");
  background-size: cover;
  background-position: center center;
  color: #8e8e8e;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 3vw 0;
}

#quadro_comando {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1vw;
  margin-top: 4vw;
}

#quadro_comando .subtitulo_deco {
  margin: 0;
  color: #8e8e8e;
  letter-spacing: 0;
}

.cargos {
  display: flex;
}

.cargos li {
  margin: 0vw 1vw;
  width: 20vw;
  height: 28vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.2vw;
}

.cargo_img {
  width: 15vw;
  height: 19vw;
  background-position: center center;
  background-size: cover;
  border-radius: 10vw;
  filter: grayscale(100%);
  margin-bottom: 1vw;
  background-color: #444444;
}

@media only screen and (max-width: 1024px) {
  #img5_galeria {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
    letter-spacing: 0.3vw;
  }

  #navbar_itens {
    align-items: center;
  }

  #nav_contador {
    flex-direction: column;
    justify-content: center;
  }

  #hoje {
    flex-direction: row;
    margin-bottom: -2vw;
    font-size: 10vw;
    font-weight: normal;
  }

  #hoje p {
    margin: 0vw 2vw;
  }

  #nav_contador div {
    margin: 2vw 0vw;
  }

  #nav_contador h2 {
    margin: 1vw 0vw;
  }

  #brasao {
    width: 40vw;
    margin: 2vw;
  }

  #nav_fixo {
    font-size: 2.8vw;
    flex-wrap: nowrap;
  }

  .opcao_navfixo {
    margin: 0rem 0.4vw;
    padding: 0;
  }

  .opcao_navfixo li {
    background-color: #000000;
    width: 12vw;
  }

  #brasao_nav img {
    width: 14vw;
    padding: 0.8vw;
    margin-bottom: -5vw;
    border-radius: 8.5vw;
  }

  #nav_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2vw;
    border: 1px solid white;
    border-radius: 5rem;
    margin-top: -2vw;
    margin-bottom: 2vw;
  }

  .contador_titulo {
    line-height: 5vw;
    font-size: 3vw;
  }

  .contador_valor {
    line-height: 14vw;
    padding: 0vw 2.5vw;
    padding-top: 2vw;
    font-size: 20vw;
  }

  .ls {
    width: 2vw;
  }

  .linha-vertical {
    height: 23vw;
  }

  .primeira-linha {
    border: 0;
  }

  .item_menu {
    font-size: 3.5vw;
    padding: 0.3vw 1vw;
    margin: 0 0.5vw;
  }

  #sobre {
    align-content: center;
  }

  #sobre a {
    font-size: 4vw;
  }

  .titulo {
    font-size: 21vw;
    letter-spacing: 1.5vw;
  }

  .subtitulo {
    font-size: 4vw;
    margin-top: -6vw;
    margin-left: -18vw;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
      1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  }

  .subtitulo_deco {
    font-size: 3vw;
    margin: 2vw 4vw;
  }

  .texto {
    color: #ffffff;
    font-size: 3.5vw;
    width: 100%;
    line-height: 4.5vw;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
      1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  }

  .texto p {
    margin: 4vw 0vw;
  }

  #img4_galeria {
    display: none;
  }

  #insta_galeria a {
    font-size: 4vw;
    margin: 0vw 2vw;
  }

  #botoes_galeria button {
    font-size: 7vw;
    margin: 0vw 1vw;
  }

  #historia {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 8vw 7vw;
  }

  #historia .texto {
    width: 100%;
  }

  #historia img {
    margin-top: 5vw;
    width: 80%;
  }

  .btn_historia {
    margin-bottom: 2vw;
  }

  .btn_historia div p {
    font-size: 3vw;
  }

  .btn_historia div h3 {
    font-size: 4vw;
    letter-spacing: 0.2vw;
  }

  #divisoes {
    flex-direction: column;
    align-items: center;
  }

  .mapa_bandeiras {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .estados_cidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
  }

  .teste {
    margin: 0;
  }

  .bandeira_cidades {
    width: 30vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 0.1vw 1vw;
  }

  .bandeira_cidades li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
  }

  .mat_div_sup {
    margin: 5vw 0vw;
  }

  .mat_div_sup i {
    font-size: 5vw;
    margin-right: 1vw;
  }

  .mat_div_sup h1 {
    font-size: 7vw;
    justify-content: center;
  }

  .mat_div_sup h2 {
    font-size: 5vw;
  }

  .mat_div_sup h3 {
    font-size: 3vw;
  }

  .bandeira {
    width: 28vw;
    height: 19vw;
    margin: 0.8vw 1vw;
    border: 1px solid #8e8e8e;
  }
}

@media only screen and (max-width: 480px) {
  #hamburger {
    display: block;
  }

  #nav_fixo {
    font-size: 1.2rem;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .opcao_navfixo {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .opcao_navfixo li {
    display: none;
    background-color: #dddddd;
    color: #000000;
    padding: 0.2rem 0rem;
    margin: 0.2rem 0rem;
    width: 100%;
    border-radius: 0.2rem;
  }

  .opcao_navfixo li:hover {
    background-color: #101010;
    color: #ffffff;
  }

  #brasao_nav img {
    width: 3.5rem;
    padding: 0.5rem;
    margin: 0rem;
    margin-bottom: -2.5rem;
    border-radius: 5rem;
  }

  #brasao_nav {
    order: -1;
  }

  .contador_titulo {
    line-height: 6vw;
    font-size: 5.5vw;
  }

  .contador_valor {
    line-height: 23vw;
    padding: 0vw 5vw;
    padding-top: 4vw;
    font-size: 35vw;
    text-shadow: 0.4vw 0 #cdcccc, -0.4vw 0 #cdcccc, 0 0.4vw #cdcccc,
      0 -0.4vw #cdcccc, 0.3vw 0.3vw #cdcccc, -0.3vw -0.3vw #cdcccc,
      0.3vw -0.3vw #cdcccc, -0.3vw 0.3vw #cdcccc;
  }

  #itens_menu {
    flex-wrap: wrap;
  }

  #itens_menu li {
    background-color: #000000;
    border-bottom: 2px solid #cdcccc;
    margin: 1vw 1vw;
    padding: 0.5vw 3vw;
    width: 20vw;
    text-align: center;
    border-radius: 0.5rem;
  }

  .item_menu {
    color: #ffffff;
    transition: 0;
    font-size: 5vw;
  }

  .item_menu:hover {
    background-color: transparent;
    color: #ffffff;
    text-decoration: underline;
    transition: 0;
  }

  #tabela_contador div {
    margin-left: -0.5vw;
  }

  #tabela_contador div {
    display: flex;
    flex-direction: column;
  }

  .linha-vertical {
    border: 0;
    height: 0;
  }

  #nav_menu {
    border: 0;
  }

  #topo img {
    width: 70%;
  }

  #botoes_galeria button {
    font-size: 10vw;
    margin: 0vw 2vw;
  }

  #img3_galeria,
  #img2_galeria {
    display: none;
  }
}
