* {
  margin: 0;
  padding: 0;
}

#navbar {
  letter-spacing: 0.1vw;
  color: #ffffff;
  background-color: #000000;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 3vw;
}

.sticky {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 1s;
  z-index: 999;
}

#brasao {
  width: 12vw;
}

#navbar_itens {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}

#nav_contador {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

#nav_contador li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1vw;
}

#nav_contador h1 {
  font-size: 2vw;
  line-height: 2.5vw;
}

.contador_titulo {
  font-size: 1.5vw;
  letter-spacing: 0.2vw;
  margin-bottom: -1vw;
}

.contador_valor {
  font-size: 8vw;
  padding-left: 0.4vw;
  letter-spacing: 0.5vw;
  color: #000000;
  text-shadow: 0.14vw 0 #e3e3e3, -0.14vw 0 #e3e3e3, 0 0.14vw #e3e3e3,
    0 -0.14vw #e3e3e3, 0.07vw 0.07vw #e3e3e3, -0.07vw -0.07vw #e3e3e3,
    0.07vw -0.07vw #e3e3e3, -0.07vw 0.07vw #e3e3e3;
}

.linha-vertical {
  color: #444444;
  height: 8vw;
  border-left: 2px solid;
  margin-top: -1vw;
}

#nav_menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#brasao_nav {
  display: none;
  width: 6vw;
  margin: 0.5vw 2vw;
  align-self: flex-start;
}

#itens_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style-type: none;
}

.item_menu {
  padding: 0.3vw 0.8vw;
  font-size: 1.7vw;
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
  margin: 0 0.5vw;
}

.item_menu:hover {
  border-radius: 5rem;
  background-color: #ffffff;
  color: #000000;
  text-decoration: underline;
  transition: 0.5s;
}

#topo {
  width: 100%;
  background-image: url("img/background.png");
  background-size: 100% 100%;
  text-align: center;
  filter: contrast(1.1);
}

#topo img {
  width: 35%;
  padding: 5vw 0vw;
}

@media only screen and (max-width: 768px) {
  #navbar {
    letter-spacing: 0.2vw;
  }

  #brasao {
    width: 20vw;
  }

  #nav_contador li {
    margin: 1.5vw;
  }

  #nav_contador h1 {
    font-size: 3.5vw;
    line-height: 4vw;
  }

  .contador_titulo {
    font-size: 3vw;
  }

  .contador_valor {
    font-size: 12vw;
    padding-left: 0.6vw;
    letter-spacing: 0.6vw;
  }

  .linha-vertical {
    height: 15vw;
    margin-top: -3vw;
  }

  .item_menu {
    font-size: 3vw;
  }

  #brasao_nav {
    width: 12vw;
    margin: 1vw 2vw;
  }
}

@media only screen and (max-width: 480px) {
  #navbar {
    flex-direction: column;
    padding: 2vw 3vw;
  }

  #brasao {
    width: 50vw;
    margin: 2vw;
  }

  #nav_contador,
  #nav_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #nav_contador h1 {
    font-size: 5vw;
    line-height: 5vw;
  }

  .contador_titulo {
    font-size: 4vw;
    margin-bottom: -2vw;
  }

  .contador_valor {
    font-size: 17vw;
    padding-left: 1vw;
    letter-spacing: 1vw;
  }

  .linha-vertical {
    height: 20vw;
    margin-top: -4vw;
  }

  .item_menu {
    font-size: 4vw;
    padding: 0.3vw 1vw;
    margin: 0 1vw;
  }
}
